!!!
%html{:lang => "en"}
  %head
    %link{ href: '/assets/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' }/
    %title= Carnival::Config.app_name
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = render '/layouts/carnival/load_assets'
  %body
    %nav.navbar.navbar-default
      = render '/layouts/carnival/navbar'
    .container
      :javascript
        #{show_messages}
      = yield
      = render '/carnival/shared/application_modal_partial'
    %footer.footer
      = carnival_render_if_exist 'carnival/extra_footer'
